* 
* * 
* * * 
* * * * 
* * * * *

In [10]:
# print the following pattern
# nested loop concepts

for i in range(1, 6):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

Lets remove duplicates from list names=['A','B','C','A','D','E','F','G','H','E','D']

In [15]:
names = ['A', 'B', 'C', 'A', 'D', 'E', 'F', 'G', 'H', 'E', 'D']
unique_names = []

for name in names:
    if name not in unique_names:
        unique_names.append(name)

print(unique_names)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

Good! Shall we try solving above problem in shorter way using list comprehension? It will be amazing. Here we go!

### 10. List Comprehensions

Hey buddy! Python has really amazing thing called list comprehension. List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list. Cool right? Let's dive into this more by doing it. 


<p style='text-align: right;'> 10 + 10 + 10= 30 points </p>

In [16]:
# Using list comprehension, create a list containing numbers from 1 to 20. 
# Hint: You can use range function of python to do this.

l1=[i for i in range (1,21)]
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [18]:
# Using list comprehension, create a list containing numbers from 1 to 20 that are even

l1=[i for i in range(1,21) if i%2==0]
print(l1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Create a list of all the fruits you like. Using list comprehension, create another list which contains the total number of charachters for each corresponding fruits.
- Eg. fruits = [‘apple’,’kiwi’,’orange’], then output would be - [5,4,6]

In [20]:
fruits = ['apple', 'kiwi', 'orange']

fruit_no = [len(fruit) for fruit in fruits]

print(fruit_no)

[5, 4, 6]

The above output is shown if fruits = ['apple','kiwi,'orange'], it can vary for different values of fruits

Amazing right?

### Write the code for the following, what is the output obtained?
- Set a variable flag = True, num = 5
- Run a while loop till flag = True
- Inside the while loop - 
    - Increment the value of num by 5
    - If value of num is greater then 50, set flag to be False

In [28]:
# your code here
flag = True
num = 5

while flag:
    print(num)
    num += 5
    if num > 50:
        flag = False

5
10
15
20
25
30
35
40
45
50

## 11. Functions

Declare a function named square, which takes an input as x, and returns the square of x.

<p style='text-align: right;'> 5 + 3 = 8 points </p>

In [30]:
#define function

def square(x):
    num=x**2
    return num

Call the function to find the value of square of 9.

In [31]:
# find the square of 9 using the function square you have just created.


square(9)

81

Wohoo! see, defining function was simple

#### Define another function which checks whether a given is number is odd or even for a given input and it should print whether the  number is odd or even as an output
<p style='text-align: right;'> 5 + 3 = 8 points </p>

In [32]:
# your code here

def check_odd_even(x):
    if x%2==0:
      print(x,"is even")
    else:
      print(x,"is odd")

In [33]:
 # your code here
check_odd_even(3)   
check_odd_even(6)
check_odd_even(21)

3 is odd
6 is even
21 is odd

### define a funtion 'occurence' which takes 2 inputs, one list 'lst' and another one a number 'n' and count the number of occurrences of n in your list lst.

In [35]:
#your code
def occurrence(lst, n):
    count = 0
    for num in lst:
        if num == n:
            count += 1
    return count

 
#lets use your function
lst=[1,2,3,1,2,3,1,2,3,1,2,3]
n=2
occurrence(lst,n)

4

### Using while loop make a function that prints all the values between 1 to n.

<p style='text-align: right;'> 10 points </p>

In [42]:
#define counter

def counter(n):
  i=0
  while i<n:
    i=i + 1
    print(i)

In [43]:
#this should print numbers from 1 to 10

counter(10)

1
2
3
4
5
6
7
8
9
10

In [50]:
# Now Define a function, which takes input from the user and prints whether the given input is zero,positive or negative.

def check_number():
    num = float(input("Enter a number: "))
    if num == 0:
        print("The number is zero.")
    elif num > 0:
        print("The number is positive.")
    else:
        print("The number is negative.")
    

# Test the function:
check_number()
check_number()
check_number()

Enter a number: 3
The number is positive.
Enter a number: -1
The number is negative.
Enter a number: 0
The number is zero.